<div class="col-md-9">

  <h1>Welcome to d20!</h1>

  <div id="slider-wrapper">
    <ul class="bxslider">
      <% @announcements.each do |announcement| %>
	      <li class="slide"><%= image_tag(announcement.image) %></li>
	      <!--<li style="background-image: url(<%= announcement.image %>);"></li>-->
      <% end %>
    </ul>
  </div>

  <div class="buttons">
    <%= link_to "New Announcement", new_announcement_path, class: "btn btn-primary" %>
  </div>

</div>
<%= render partial: "events/upcoming_sidebar" %>

<script type="text/javascript">
  $(window).load(function() {
    $('.bxslider').bxSlider();
  });

  $('.bxslider').bxSlider({
    auto: true,
    autoHover: true,
    pager: false
    }
  });
</script>
