<% if !@announcement.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>
