<h1 class="centered">Magic Sets</h1>

<% if @expansions != nil %>
  <% @blocks.each do |block| %>
  <% block.expansions.each do |expac| %>

    <%= link_to image_tag(expac.image, height: '200px', width: '200px'), {:controller => "cards", :action => "index", :expansion => expac.id} %>
    <% if @admin %>
      <%= link_to "edit", edit_expansion_path(expac.id) %>
    <% end %>
    
  <% end %>
<% end %>
<br><br />
<% end %>

<% if @admin %>
  <%= link_to 'Blocks', blocks_path %>
  <br><br />
  <%= link_to 'New Expansion', expansions_new_path %>
<% end %>
