<h1>Magic Sets</h1>

<% if @expansions != nil %>
  <% @expansions.each do |expac| %>
    <%= link_to "#{expac.set_name}", {:controller => "cards", :action => "index", :expansion => expac.id} %>
    <br>
    <%= link_to 'edit', edit_expansion_path(expac.id) %>
    <br><br />
  <% end %>
<% end %>

<%= link_to 'New Expansion', expansions_new_path %>


