<h1>Magic Sets</h1>

<% if @expansions != nil %>
  <% @expansions.each do |expac| %>

    <%= link_to image_tag(expac.image, height: '200px', width: '200px'), {:controller => "cards", :action => "index", :expansion => expac.id} %>
    <% if @admin %>
      <%= link_to "edit", edit_expansion_path(expac.id) %>
    <% end %>
    <br><br />
  <% end %>
<% end %>

<% if @admin %>
  <%= link_to 'New Expansion', expansions_new_path %>
<% end %>
