<div class="upcoming-events">
  <h3>Upcoming Events</h3>

  <% @upcoming_events.each do |event| %>
    <div class="event-listing">
      <h4 class="title"><%= link_to event.title, event %></h4>
      <p class="date"><%= event.event_day.strftime("%B %-d, %Y") %>
      <p class="description"><%= event.description[0..30].gsub(/\s\w+\s*$/, " ...") %></p>
    </div>
  <% end %>
</div>
