<div>
  <%= semantic_form_for @game do |f| %>

    <%= f.inputs do %>
      <%= f.input :name %>
      <br />
      <%= f.input :tabletop_game_id, :as => :select, :collection => Hash[TabletopGame.all.map { |ttg| [ttg.set_name, ttg.id] }] %>
      <br />
    <% end %>
    <br />

    <fieldset class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary">
    </fieldset>
    <br />
  <% end %>
</div>
