<h1>Cards</h1>
<h2 class="centered"><%= @expansion.set_name %></h2>
<br><br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Card Name</th>
      <th>Card Type</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <%= render partial: 'card_row', locals: { card: card, order_item: @order_item } %>
    <% end %>
  </tbody>
</table>

<% if @admin %>
  <%= link_to "Create a New Card", new_card_path, class: "btn btn-primary" %>
<% end %>
