/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 */

@import 'jquery-ui';
@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "formtastic-bootstrap";
@import "blueimp-gallery-all";

.pageheader {
  margin-left: 1%;
  font: Arial Black;
  color: black;
}

.content_wrap {
  background-image: image-url("Mountain.jpg");
  background-size: 100% 100%;
  padding-top: 100px;
}

.container {
  margin-top: 100px;
  max-width: 960px;
  display: block;
  clear:both;
  overflow: hidden;
  border-left: 1px solid #7F704F;
  border-right: 1px solid #7F704F;
  border-top: 1px solid #7F704F;
  min-height: 900px;
  background-color: #E8E8E8;
  opacity: 0.85;
}

/* styles for the events calendar (see railscasts 213) */
#events .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#events #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#events ul {
  font-size: 11px;
  padding-left: 20px;
}

.bxslider img {
  margin: 0 auto;
}

/*#bx-pager {
  bottom: -95px;
}*/

#bx-pager {
  text-align: center;
  margin-top: -30px;
  float: left;
  width: 100%;
}

#bx-pager a {
  display: inline-block;
  border: solid #ccc 1px;
  padding: 3px;
}

#bx-pager a:hover,
#bx-pager a.active {
  border: solid #5280DD 1px;
}

.centered_data {
  text-align: center;
}
