/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "blueimp-gallery-all";

.pageheader {
  margin-left: 1%;
  font: Arial Black;
  color: black;
  //text-shadow: -1px 0 white, 0 1px white, 1px 0 black, 0 -1px white;
}

/*.nav {
  border-bottom: 1px solid #7F704F;
}*/

.content_wrap {
  //margin-top: -1.6%;
  //background-image: url("BFZ_Header_preloader.jpg");
  background-image: url("Mountain.jpg");
  background-size: 100% 100%;
  padding-top: 100px;
}

.container {
  margin-top: 100px;
  max-width: 960px;
  display: block;
  clear:both;
  overflow: hidden;
  border-left: 1px solid #7F704F; 
  border-right: 1px solid #7F704F;
  border-top: 1px solid #7F704F;
  min-height: 900px;
  background-color: #E8E8E8; 
  opacity: 0.85;
}


