// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inputs {
  color: black;
}

form, form div {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}

.actions a {
  margin-top: 2px;
  padding-top: 2px;
}
