// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-image {
  width: 110px;
  height: 150px;
}

.total {
  margin-top: 90px;
}
