body {
  padding-top: 40px;
}

/* Navigation bar */
.navbar {
  border-top: 1px solid #7F704F;
  border-bottom: 1px solid #7F704F;
  background-color:  #202020;
  border-color: #585858;
}

/* Navigation links */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ff7034;
  background-color: #202020;
}

.navbar a {
  color: #636363;
}

/* Navigation button */
.navbar-toggle {
  float: left;
}
