body {
  padding-top: 40px;
}

.navbar-brand.hidden-xs {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

nav li { transition: background-color 0.4s }
nav li:hover { background-color: #cfc }

nav.pull-right { text-align: right }
