<h1>RecurringEvents#new</h1>
<p>Find me in app/views/recurring_events/new.html.erb</p>

<form>
  <label for="title">Title</label>
  <input type="text" name="title">

  <input type="radio" name="day" value="0">Sunday
  <input type="radio" name="day" value="1">Monday
  <input type="radio" name="day" value="2">Tuesday
  <input type="radio" name="day" value="3">Wednesday
  <input type="radio" name="day" value="4">Thursday
  <input type="radio" name="day" value="5">Friday
  <input type="radio" name="day" value="6">Saturday

  <input type="submit" value="Create">
</form>
