<div class="bottom_bar" id="home-links">
  <div><%= link_to "Questions? Contact us!", stores_path %></div>
  <div>Typical store hours: 10am -- 8pm</div>
  <div>
    <a href="https://www.facebook.com/pages/Clairemont-Comics/117718421576761">
      <%= image_tag("badgefacebook.png", alt: "Find us on Facebook") %>
      <%# free image from create.net %>
    </a>
  </div>
</div>
