
<div class="pageheader">
  <h1><medium>D20 Legendary Tabletop Games</medium></h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Home", static_pages_home_path %></li>
  <li role="presentation"><%= link_to "About", static_pages_about_path %></li>
  <li role="presentation"><%= link_to "Contact", static_pages_contact_path %></li>
</ul>
