<%
title = "d20 Legendary Tabletop Games"

links_left =
  [ { :name => "Home", :dest => static_pages_home_path },
    { :name => "Schedule", :dest => events_path },
    { :name => "About", :dest => stores_path } ]

links_right =
  [ { :name => "Magic", :dest => expansions_path },
    { :name => "Comics", :dest => static_pages_comics_path },
    { :name => "Tabletop Games", :dest => tabletop_games_path } ]

links_admin =
  [ { :name => "Accounts", :dest => users_path },
    { :name => "Logout", :dest => logout_path } ]

links_guest =
  [ { :name => "Login", :dest => login_path } ]
%>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="/">[d20 logo goes here]</a>

      <hr />
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-left">
        <% links_left.each {|link| %>
        <li><%= link_to link[:name], link[:dest] %></li>
        <% } %>

        <% (@admin ? links_admin : links_guest).each do |link| %>
        <li><%= link_to link[:name], link[:dest] %></li>
        <% end %>
      </ul>

      <a class="navbar-brand hidden-xs" href="/">[d20 logo goes here]</a>

      <ul class="nav navbar-nav pull-right">
        <% if @admin %>
        <li role="presentation"><%= link_to render('layouts/cart_text'), carts_show_path, class: "cart-text" %></li>
        <% end %>

        <% links_right.each {|link| %>
        <li><%= link_to link[:name], link[:dest] %></li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>
